body {
  margin: 0px;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.tiny-indent {
	margin-left: 5px;
}

.no-indent {
	margin-left: 0px;
	padding-left: 0px;
}

.active-chart {
	color: red;
}

.mock {
	background-color: lightyellow;
	height: 700px;
	width: 1000px;
}